.main-nav {
  background: #fff;


  &__burger {
    @include clear-button;

    margin-left: auto;

    @media (min-width: 768px) {
      display: none;
    }
    img {
      width:16px;
      height: 13px;
      display: block;
      color: #000000;
      margin-left: 19px;
    }
  }

  &__container {
    display: flex;
    align-items: center;

  }

  &__item {

    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;

    a {
      padding: 77px 18px;
    }
  }

  &__logo {
    margin-right:110px
  }


  &__list {
    @include clear-list;
    display: none;

    &--showed {
      display: block;
    }


    @media (min-width: 768px) {
      display: flex;
    }

  }

  &__group {
  margin-left: auto;
  img {
    width:19px;
    height: 16px;
    color: #000000;
    margin-right: 14px;
    margin-left: 14px;

  }
  }
}
